* {
  box-sizing: border-box;
}
@media (min-width: 1200px) {
  .LRContainer button {
    visibility: hidden;
  }
  nav img {
    width: 100px;
  }
}

@media (min-width: 800px) and (max-width: 1199.9px) {
  nav button {
    visibility: hidden;
    width: 0;
  }
  nav img {
    width: 100px;
  }
}

@media (max-width: 799.9px) {
  nav button {
    visibility: hidden;
  }
  .order0,
  .order4 {
    visibility: hidden;
    width: 0px;
  }
}

@media (max-width: 350px) {
  .order1,
  .order2,
  .order3 {
    width: 80px;
  }
  nav button {
    visibility: hidden;
  }
  .order0,
  .order4 {
    visibility: hidden;
    width: 0px;
  }
}
body {
  background-color: black;
  margin: 0px;
}
#mainImage {
  position: fixed;
  height: 100vh;
  z-index: 0;
  width: 100vw;
}
.mainImg {
  border: 5px solid rgb(168, 199, 245);
}
.LRContainer {
  display: flex;
  flex-direction: row;
  place-content: center center;
  align-items: center;
}
.left,
.right {
  width: 50vw;
  height: 100vh;
  display: flex;
  align-items: center;
}
.right {
  justify-content: flex-end;
}
.left {
  justify-content: flex-start;
}
.LRContainer button {
  height: 135px;
  width: 10vw;
  min-width: 80px;
  background-color: transparent;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  border: 0;
  padding: 0;
  z-index: 999;
}

.next {
  background-image: url(./Assets/right-chevron.png);
}
.last {
  background-image: url(./Assets/left-chevron.png);
}

#thumbnail-scroller {
  height: 100px;
  width: 80vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 400;
  position: absolute;
  top: 15px;
  left: 10vw;
}
#thumbnail-scroller img {
  border-radius: 10px;
  height: 66.66666666%;
  z-index: inherit;
}
#thumbnail-scroller img:hover {
  border-radius: 10px;
  border: 2px solid orangered;
}
#thumbnail-scroller button {
  width: 50px;
  height: 100%;
  background-color: transparent;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  border: 0;
  padding: 0;
  z-index: inherit;
}
#thumbnail-scroller .last {
  order: -999;
}
#thumbnail-scroller .next {
  order: 999;
}
button:hover {
  cursor: pointer;
}
#thumbnail-scroller img:focus-visible,
#thumbnail-scroller img:focus {
  border: 2px solid rgb(173, 108, 234);
}
