html {
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
}
body {
  background-color: black;
  margin: 0px;
}

#mainImage {
  position: fixed;
  height: 100vh;
  z-index: 0;
  width: 100vw;
}
.mainImg {
  border: 5px solid rgb(168, 199, 245);
}

.LRContainer {
  display: flex;
  flex-direction: row;
  place-content: center center;
  align-items: center;
}
.left,
.right {
  width: 50vw;
  height: 100vh;
  display: flex;
  align-items: center;
}
.right {
  justify-content: flex-end;
}
.left {
  justify-content: flex-start;
}
.LRContainer button {
  height: 135px;
  width: 10vw;
  min-width: 80px;
  background-color: transparent;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  border: 0;
  padding: 0;
  z-index: 999;
}

.next {
  background-image: url(./Assets/right-chevron.png);
}
.last {
  background-image: url(./Assets/left-chevron.png);
}

#thumbnail-scroller {
  height: 100px;
  width: 80vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 400;
  position: absolute;
  top: 15px;
  left: 10%;
}
#thumbnail-scroller img {
  border-radius: 10px;
  width: 100px;
  height: 66.66666666%;
  z-index: inherit;
}
#thumbnail-scroller button {
  width: 50px;
  height: 100%;
  background-color: transparent;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  border: 0;
  padding: 0;
  z-index: inherit;
}
#thumbnail-scroller .last {
  order: -999;
}
#thumbnail-scroller .next {
  order: 999;
}
button:hover {
  cursor: pointer;
}
